[submodule "Frontend"]
	path = frontend
	url = https://github.com/scott1C/digital-hackaton.git
[submodule "HACKATON-15-03-2024"]
	path = HACKATON-15-03-2024
	url = https://github.com/YourBestDream/HACKATON-15-03-2024.git
[submodule "WLM_Platform"]
	path = WLM_Platform
	url = https://github.com/solomonRei/WLM_Platform.git
